.moto {
  display: flex;
  justify-content: space-around;
}

.input_form_wrapper {
  display: flex;
  width: 500px;
  padding-top: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.list_item_text {
  color: #fafafa;
}

.list_item_delete_icon {
  cursor: pointer;
}
