.home {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.homeImage {
  width: 100%;
  background-image: url("../../images/Car.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.homeItem {
  display: block;
  width: 15%;
  background-color: burlywood;
  text-align: center;
}
